---
---

@import"{{ site.theme }}";

html {
  background:#1B1E22;
  height: 100%;
}
.wrapper {
  background:#3a414a;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}
body {
  color:#ffffff;
}
header {
  border-radius: 8px 8px 0 0;
  background:#234252;
  position:relative;
  padding:15px 20px;
  border-bottom:1px solid #3A464B;
  h1 {
    margin:0;
    padding:0;
    font-size:24px;
    line-height:1.2;
    color:#ffffff;
    text-shadow:rgba(#0094cf, 0.9) 0 1px 0;
  }
  ul {
    background:#498fb3;
  }
  p {
    color:#89aac7;
  }
}
